<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/php-pokedex/public/css/estilos.css">
    
    {{#is_update_or_add_pokemon}}
        <link rel="stylesheet" href="/php-pokedex/public/css/formulario.css">
    {{/is_update_or_add_pokemon}}

    {{#is_show_info}}
        <link rel="stylesheet" href="/php-pokedex/public/css/info.css">
    {{/is_show_info}}
    <title>Pokedex</title>
</head>
<body>
    <header class="header">
        <div class="header__div">
            <h1 class="header__titulo">Poke<span class="header__sufijo">Info</span></h1>
            <img src="/php-pokedex/public/imagenes/pikachu.svg" class="header__logo">
        </div>

        {{#is_logged}}
            <a href="/php-pokedex/admin/logout" class="header__link">Cerrar Sesion</a>
        {{/is_logged}}

        {{^is_logged}}
            <a href="#" id="loginButton" class="header__link">Login</a>
        {{/is_logged}}

</header>
