<main class="main">
<form action="/php/agregar_pokemon.php" class="main__formulario" enctype="multipart/form-data" method="post">
    <h1 class="main__title">Agregar Nuevo Pokemon !!</h1>
    <label>Identificador</label>
    <input type="number" name="identificador" id="identificador" required>
    <label>Nombre</label>
    <input type="text" name="nombre" id="nombre" required>
    <label>Imagen</label>
    <input type="file" name="imagen" id="imagen" accept="image/*" required>
    <label>Tipo</label>
    <select name="tipo" required>
        {{#tipos}}
            <option value="{{getImagen}}">{{getNombre}}</option>
        {{/tipos}}
    </select>
    <label>Descripcion</label>
    <textarea name="descripcion" id="descripcion" required></textarea>
    <input type="submit" value="Agregar" class="formulario__agregar">
</form>
</main>
