<main class="main">
    <h1 class="main__titulo">¿Quien es ese pokemon?</h1>
        <form action="/php-pokedex/home/search" class="main__formulario" method="post">
            <input type="text" name="patron" placeholder="pika pika">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <h2 class="main__titulo main__titulo--subtitulo">¿Que es la PokeInfo?</h2>
        <p class="main__parrafo">PokeInfo es el destino definitivo para todos los amantes y entrenadores de Pokémon. Con una extensa base de datos que abarca desde los clásicos de la primera generación hasta las últimas adiciones de las regiones más recientes. PokeInfo te ofrece una experiencia única y enriquecedora. ¡Prepárate para embarcarte en una aventura inigualable mientras exploras todo lo que PokeInfo tiene para ofrecer!</p>
        {{^isListEmpty}}
        <table class="main__tabla">
                    <caption class="tabla__titulo">Lista de Pokemons</caption>
                    <thead class="tabla__header">
                        <tr>
                            <th>Imagen</th>
                            <th>Tipo</th>
                            <th>Numero</th>
                            <th>Pokemon</th>
                        </tr>
                    </thead>
                    <tbody class="tabla__body">
                        {{#listPokemons}}
                            <tr>
                                <td><img src='{{imagen}}' class="tabla__imagen"></td>
                                <td><img src='{{tipo}}' class="tabla__icono"></td>
                                <td>{{identificador}}</td>
                                <td><a href="/info.php?id={{id}}">{{nombre}}</a></td>
                            </tr>                               
                        {{/listPokemons}}
                    </tbody>
        </table>
        {{/isListEmpty}}
        
        {{#isListEmpty}}
            <div class="ningun__resultado">
                No se encontro ningun resultado
            </div>   
        {{/isListEmpty}}
</main>



