
{{#pokemon}}
    <main class="main poke__info">
        <div class="poke__imagen">
            <img src="{{imagen}}" alt="pokemon">
        </div>
        <div class="poke__tipo">
            <h1 class="poke__nombre">{{nombre}}</h1>
            <div class="poke__iconos">
                <img src="{{tipo}}">
            </div>
        </div>
        <div class="poke__descripcion">
            {{descripcion}}
        </div>
    </main>
{{/pokemon}}

<!--Pop up login-->
<div class="popup">
    <a href="#" class="popup__cerrar"><i class="fa-solid fa-xmark"></i></a>
    <form class="popup__formulario" action="#" method="post">
        <h2 class="popup__titulo">Login</h2>
        <input type="text" placeholder="Usuario" required>
        <input type="text" placeholder="Contraseña" required>
        <input type="submit" value="Entrar">
    </form>
</div>
